/UbudKusCoin/obj
/UbudKusCoin/*.zip
/UbudKusCoin/bin
/UbudKusCoin/DbFiles/*.db
/UbudKusCoin/publish-linux

/BlockExplorer/obj/*
/BlockExplorer/bin/
/BlockExplorer/*.db
/BlockExplorer/publish-linux

/ConsoleWallet/obj/*
/ConsoleWallet/bin/
/ConsoleWallet/*.db
/ConsoleWallet/publish-linux

.vs
/UnitTest/bin
/UnitTest/obj

/ConsoleWallet/bin
/ConsoleWallet/obj

/BlockExplorer/bin
/BlockExplorer/obj

.vs
/UnitTest/bin
/UnitTest/obj
.history
.vscode

.fake
.ionide
