/UbudKusCoin/obj
/UbudKusCoin/bin
/UbudKusCoin/*.db

/BlockExplorer/obj/*
/BlockExplorer/bin/
/BlockExplorer/*.db

/ConsoleWallet/obj/*
/ConsoleWallet/bin/
/ConsoleWallet/*.db

.vs
/UnitTest/bin
/UnitTest/obj

/ConsoleWallet/bin
/ConsoleWallet/obj

/BlockExplorer/bin
/BlockExplorer/obj

.vs
/UnitTest/bin
/UnitTest/obj
.history
.vscode

.fake
.ionide