/UbudKusCoin/obj/*
/UbudKusCoin/bin/
/UbudKusCoin/*.db

/BlockExplorer/obj/*
/BlockExplorer/bin/
/BlockExplorer/*.db

/ConsoleWallet/obj/*
/ConsoleWallet/bin/
/ConsoleWallet/*.db

.vs
/UnitTest/bin
/UnitTest/obj




.fake
.ionide