#EXAMPLE OF SERVICE FOR LINUX

[Unit]
Description=UbudKusCoin Service

[Service]
Type=notify

# will set the Current Working Directory (CWD). Worker service will have issues without this setting
WorkingDirectory=/home/ubuntu/ukc

# systemd will run this executable to start the service
ExecStart=/home/ubuntu/ukc/UbudKusCoin

# to query logs using journalctl, set a logical name here
SyslogIdentifier=UbudKusCoin

# Use your username to keep things simple.
# If you pick a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /home/ubuntu/ukc' to take ownership of the folder and files,
#       Use 'chmod +x /home/ubuntu/ukc/UbudKusCoin' to allow execution of the executable file
User=ubuntu

# ensure the service restarts after crashing
Restart=always
# amount of time to wait before restarting the service                  
RestartSec=5

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
# Environment=DOTNET_ROOT=/opt/rh/rh-dotnet31/root/usr/lib64/dotnet  

[Install]
WantedBy=multi-user.target